<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="mageshop9_testmodule_show_message">
        <observer name="change_message" instance="Mageshop9\TestModule\Observer\ChangeMessage" />
    </event>
</config>